
language: c

addons:
  apt:
    update: true
    packages:
      - cppcheck

cache:
  directories:
    - /home/travis/.bolthur

install:
  - mkdir -p /home/travis/.bolthur/cross
  - wget -q -O /home/travis/.bolthur/cross/arm-none-eabi-gcc.tar.bz2 https://developer.arm.com/-/media/Files/downloads/gnu-rm/8-2018q4/gcc-arm-none-eabi-8-2018-q4-major-linux.tar.bz2
  - wget -q -O /home/travis/.bolthur/cross/aarch64-none-elf-gcc.tar.xz https://developer.arm.com/-/media/Files/downloads/gnu-a/8.3-2019.03/binrel/gcc-arm-8.3-2019.03-x86_64-aarch64-elf.tar.xz
  - pushd .
  - cd /home/travis/.bolthur/cross
  - tar -jxf arm-none-eabi-gcc.tar.bz2 --strip=1
  - tar -xf aarch64-none-elf-gcc.tar.xz --strip=1
  - popd

before_script:
  - export PATH="/home/travis/.bolthur/cross/bin:$PATH"
  - arm-none-eabi-gcc --version
  - autoconf --version

notifications:
  email: false

stages:
  - compile

jobs:
  include:
    - stage: lint
      name: "RPI 2 rev. 1 - lint"
      script:
        - autoreconf -iv
        - mkdir -p build/lint/rpi2_rev1_debug
        - cd build/lint/rpi2_rev1_debug
        - ../../../configure --enable-silent-rules --host arm-none-eabi --enable-device=rpi2_b_rev1 --with-debug-symbols --enable-output --enable-output-mm-phys --enable-output-mm-virt --enable-output-mm-heap --enable-output-mailbox --enable-output-timer --enable-output-initrd --enable-output-event --enable-output-process --enable-output-interrupt --enable-output-exception --enable-output-elf --enable-output-platform --enable-output-syscall --enable-output-serial --enable-remote-debug
        - cppcheck -I include -I include/lib --quiet --inline-suppr -UCMC --force --enable=all --suppress-xml=build-aux/platform/rpi/cppcheck.suppression.xml --platform=build-aux/platform/rpi/cppcheck.32.xml --include=build/lint/rpi2_rev1_debug/include/config.h --project=build-aux/platform/rpi/project.cppcheck .
    - stage: compile
      compiler: arm-none-eabi-gcc
      name: "RPI 2 rev. 1 - debug"
      script:
        - autoreconf -iv
        - mkdir -p build/rpi2_rev1_debug
        - cd build/rpi2_rev1_debug
        - ../../configure --enable-silent-rules --host arm-none-eabi --enable-device=rpi2_b_rev1 --with-debug-symbols --enable-output --enable-output-mm-phys --enable-output-mm-virt --enable-output-mm-heap --enable-output-mailbox --enable-output-timer --enable-output-initrd --enable-output-event --enable-output-process --enable-output-interrupt --enable-output-exception --enable-output-elf --enable-output-platform --enable-output-syscall --enable-output-serial --enable-remote-debug
        - make
    - stage: compile
      compiler: arm-none-eabi-gcc
      name: "RPI 2 rev. 1 - prod"
      script:
        - autoreconf -iv
        - mkdir -p build/rpi2_rev1_release
        - cd build/rpi2_rev1_release
        - ../../configure --enable-silent-rules --host arm-none-eabi --enable-device=rpi2_b_rev1
        - make
